@import url(https://fonts.google.com/specimen/Nunito+Sans);

/* Variables */
:root {
    --lt-bg-: hsl(0, 0%, 98%);
    --dk-txt-lt-elm: hsl(0, 0%, 100%);
    --dk-elm: hsl(209, 23%, 22%);
    --dk-bg-color: hsl(207, 26%, 17%);
    --lt-txt-color: hsl(0, 0%, 52%);
    --font-family: "Nunito Sans", sans-serf;
}