@import url(https://fonts.google.com/specimen/Nunito+Sans);

/* Variables */
:root {
    --lt-bg-: hsl(0, 0%, 98%);
    --dk-txt-lt-elm: hsl(0, 0%, 100%);
    --dk-elm: hsl(209, 23%, 22%);
    --dk-bg-color: hsl(207, 26%, 17%);
    --lt-txt-color: hsl(0, 0%, 52%);
    --font-family: "Nunito Sans", sans-serf;
    --normal-font: 300;
    --bold-font: 600;
    --bolder-font: 800;
}

/* CSS Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--lt-bg-);
}

span {
    font-weight: var(--bold-font);
}

body {
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: var(--font-family);
    font-size: 16px;
}

h2 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

p {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.details-page {
    display: grid;
}
.details-container {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    margin-top: 5rem;
}

.details-container img {
    width: 40vw;
    aspect-ratio: 1.5;
}

.country-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    text-align: left;
    padding-top: 1rem;
}

.country-details-1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
}

.country-details-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.borders {
    grid-row-start: 3;
    padding-top: 2.5rem;
}

.back-button {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 9%;
    margin-top: 7rem;
}
